<div style="margin:10px;" id="select_country_block">
<%= select_tag(:country_name, options_for_select(@countries)) %>
</div>
<div style="margin:10px;" id="select_city_block">

</div>
<div style="margin:10px;" id="weather_result">

</div>
